.auth-page {
	width: 100%;
	min-height: 100vh;
	background: #fdfdfd;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-page form {
	background: #fff;
	max-width: 400px;
	width: 100%;
	border: 1px solid #ddd;
	padding: 50px 25px;
}

.auth-page form .pass {
	position: relative;
}

.auth-page form .pass i {
	font-size: 20px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	opacity: 0.5;
	cursor: pointer;
}
